.dangerous
{
	background-color: rgba(252, 0, 0, 0.8);
}

h1 
{
  	font-family: Verdana;
  	font-weight: normal;
  	color: #024457;
}

table 
{ 
	width: 100%; 
	border-collapse: collapse; 
}

td,
th 
{ 
	padding: 6px; 
	border: 2px solid #ccc; 
	text-align: left; 
}

.hover
{ 
	background-color: rgba(0, 137, 255, 0.3); 
}

.dangerous.hover
{
	background-color: #c70039
}

#search
{
	margin-bottom: 20px;
    font-size: 18px;
}